.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30vh 0 1rem 0;
}

.select-box button {
  background-color: white;
  color: black;
  width: 10rem;
  border: 1px solid black;
  border-radius: 4px;
  margin: 0 1rem;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  /* transition: background-color 0.3s ease; */
}

.select-box button:hover {
  background-color: #444;
  color: white;
}

.isSelected {
  background-color: #444 !important;
  color: white !important;
}
